<div class="socialFeeds-twitter-container">
	<div class="socialFeeds-loading"></div>
</div>
{% verbatim %}
	<script type="x-tmpl-mustache" id="socialFeeds-twitter">
		<ul class="socialFeeds-twitter u-unstyledList">
			{{#feed}}
				<li class="socialFeeds-twitter-item">
					<span class="socialFeeds-twitter-item-date">{{date}}</span>
					<span class="socialFeeds-twitter-item-text">{{{text}}}</span>
				</li>
			{{/feed}}
		</ul>
	</script>
{% endverbatim %}