{% extends "_layouts/site" %}

{% set events = false %}
{% set type = craft.request.lastSegment() %}

{% if craft.request.lastSegment() == 'events' %}
    {% set events = true %}
{% endif %}

{% block main %}
    <div class="sitePage">
        <div class="image image--fullWidth image--main image--mainDefault">
            <div class="grid grid--contained">
                <div class="image--main grid-row grid-row--middleXxs">
                    <div class="grid-col--xxs12">
                        <h1 class="u-blockText u-blockText--red">{{type|title}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <article class="grid grid--contained u-contentPadding">
            <div class="grid-row">
                <div class="grid-col--xxs12 grid-col--sm8 grid-col--gutterRightTripleSm">
                    {% cache unless not craft.config.cache %}
                        {% if events %}
                            {% paginate craft.entries.section('event').limit(10) as postsNav, posts %}
                        {% else %}
                            {% paginate craft.entries.section('event').type(type|trim('s')).limit(10) as postsNav, posts %}
                        {% endif %}
                        {% set vars = {
                            'posts': posts,
                            'postsNav' : postsNav
                        }%}
                        {% include '_includes/blog/postloop-events' with vars %}
                    {% endcache %}
                </div>
                {% include '_includes/blog/sidebar-events' %}
            </div>
        </article>
    </div>
{% endblock %}