<footer class="footer">
    <div class="row row--nomargin">
        <div class="col--6">
            <p class="footer-email"><a href="mailto:jamescgarrett@gmail.com">{{"jamescgarrett@gmail.com"|t}}</a></p>
        </div>
        <div class="col--6">
            {% include '_includes/social' %}
        </div>
    </div>
</footer>

<div class="overlay js-overlay"></div>