<nav class="nav js-nav">
    <ul class="nav-main">
       {#  {% cache globally unless not craft.config.cache %}
            {% set nav = craft.entries.section('navigation').type('main').slug('main').first() %}
            {% if nav and nav.children %}
                {{ macros.navigation(nav.children, 'nav-item', 'nav-item-children', 'is-active') }}
            {% endif %}
        {% endcache %} #}
    </ul>
</nav>

<header class="header js-header">
    <div class="logo">
        <a class="logo-svg" href="{{ siteUrl }}"></a>
    </div>
    <div class="navToggle js-navToggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>