.page-section--full{
    height: auto;

    @media (--screen-sm-min) {
        height: 100vh;
    }
}
.page-section--medium{
    height: auto;

    @media (--screen-sm-min) {
        height: 65vh;
    }
}
.page-section--small{
    height: auto;

    @media (--screen-sm-min) {
        height: 45vh;
    }
}

.page-currentCode{
    padding-top: 20px;

    @mixin gradient-bg top, right, rgba(0, 62, 65, 0.7), rgba(0, 176, 255, 0.7);
}
.page-currentCode--full{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 100vh;
    }
}
.page-currentCode--medium{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 65vh;
    }
}
.page-currentCode--small{
   height: 25vh;

    @media (--screen-sm-min) {
        height: 45vh;
    }
}

.page-textColumn{
    padding-top: 20px;

    background-color: var(--gray-darker);
}
.page-textColumn--full{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 100vh;
    }
}
.page-textColumn--medium{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 65vh;
    }
}
.page-textColumn--small{
    height: 25vh;

    @media (--screen-sm-min) {
        height: 45vh;
    }
}

.page-imageColumn--full{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 100vh;
    }
}
.page-imageColumn--medium{
    height: 50vh;

    @media (--screen-sm-min) {
        height: 65vh;
    }
}
.page-imageColumn--small{
    height: 20vh;

    @media (--screen-sm-min) {
        height: 45vh;
    }
}

.page-textColumn-container{
    border-bottom: 1px solid white;

    @media (--screen-sm-min) {
        border: none;
    }
}

.page-imageColumn-container{
    display: none;

    @media (--screen-sm-min) {
        display: block;
    }
}

.page-textColumn-header{
    padding-left: 30px;

    border-left: 2px solid var(--brand-primary);

    text-align: left;
}

.page-textColumn-header h1 a{
    color: white;
}
.page-textColumn-header h1 a:hover{
    color: var(--gray-light);
}

.page-textColumn-header h1,
.page-textColumn-header p{
    margin: 0;

    color: white;
    line-height: 1;
}
.page-textColumn-header p{
    margin-top: 10px;
}
.page-textColumn-header a{
    text-decoration: none;
}

.page-textColumn-info{
    margin-top: 25px;
    padding-left: 32px;

    text-align: left;
}
.page-textColumn-tech{
    margin-bottom: 25px;

    color: white;
}

.page-textColumn-info a{
    color: white;
    text-decoration: underline;
    font-weight: var(--font-bold-weight);
}
.page-textColumn-info a:hover{
    color: var(--gray-light);
    text-decoration: none;
}

.page-imageColumn--thule{
    @mixin gradient-bg top, left, #2C3E50, #4CA1AF;


}

.page-imageColumn--feliz-restaurants{
    @mixin gradient-bg bottom, left, #C02425, #F0CB35;
}

.page-imageColumn--invisible-sentinel{
    @mixin gradient-bg top, left, #1A2980, #26D0CE;
}

.page-imageColumn--placemedia{
    @mixin gradient-bg top, left, #185a9d, #43cea2;
}

.page-imageColumn--timer{
    @mixin gradient-bg bottom, left, #e65245, #e43a15;
}

.page-imageColumn--orexo{
    @mixin gradient-bg bottom, left, #e52d27, #b31217;
}

.page-imageColumn--fatback{
    @mixin gradient-bg top, left, rgb(0, 66, 96), rgb(64, 181, 234);
}

.page-imageColumn--zubsolv{
    @mixin gradient-bg top, right, #A83279, #D38312 ;
}

.page-imageColumn--cellars{
    @mixin gradient-bg top, left, #ffb347, #ffcc33;
}

.page-imageColumn--social-feeds{
    @mixin gradient-bg top, left, rgb(51, 124, 212), rgb(220, 80, 55);
}

.page-imageColumn--locations{
    @mixin gradient-bg bottom, left, rgb(51, 124, 212), rgb(220, 80, 55);
}


.page-textSection{
    padding: 55px 0;
}

.page-textSection-body{
    text-align: left;
}

.page-imagesSection-container{
    margin-bottom: 50px;

    @media (--screen-sm-min) {
        margin-bottom: 0;
    }
}
.page-imagesSection-container:last-child{
    margin-bottom: 0;
}

.page-imagesSection{
    padding-top: var(--page-content-padding);
    padding-bottom: var( --page-content-padding);

    background-color: var(--gray-lightest);
}

.page-imagesSection-image{
    padding: 0 calc(var(--page-content-padding) *2);
}

.page-resumeSection{
    padding: 55px 0;
}

.page-resumeSection-section{
    margin-bottom: 30px;
    text-align: left;
}

.page-resumeSection-title{
    font-weight: var(--font-bold-weight);

    @media (--screen-md-min) {
        margin-left: 100px;
        padding-left: 20px;

        border-left: 2px solid var(--brand-primary);
    }
}

.page-resumeSection-body{
    padding-bottom: 30px;

    border-bottom: 2px solid rgba(33, 125, 164, 0.8);
}

.page-resumeSection-body ul{
    margin-bottom: 0;
}

.page-resumeSection-section:last-child .page-resumeSection-body{
    padding-bottom: 0;

    border-bottom: 0;
}

.experience-separator{
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: rgba(33, 125, 164, 0.1);
}

