.page-fullSection{
    height: 100vh;
}

.page-halfSection{
    height: 50vh;
}

.page-textColumn-full{
    height: 100vh;

    background-color: var(--gray-darker);
}

.page-textColumn-half{
    height: 50vh;

    background-color: var(--gray-darker);
}

.page-textColumn-header{
    padding-left: 30px;

    border-left: 2px solid var(--brand-primary);

    text-align: left;
}

.page-textColumn-header h1 a{
    color: white;
}
.page-textColumn-header h1 a:hover{
    color: var(--gray-light);
}

.page-textColumn-header h1,
.page-textColumn-header p{
    margin: 0;

    color: white;
    line-height: 1;
}
.page-textColumn-header p{
    margin-top: 10px;
}

.page-textColumn-info{
    margin-top: 25px;
    padding-left: 32px;

    text-align: left;
}
.page-textColumn-tech{
    margin-bottom: 25px;

    color: white;
}

.page-textColumn-info a{
    color: white;
    text-decoration: underline;
    font-weight: var(--font-bold-weight);
}
.page-textColumn-info a:hover{
    color: var(--gray-light);
    text-decoration: none;
}

.page-imageColumn{
    height: 100vh;
}

.page-imageColumn--thule{
    @mixin gradient-bg top, left, rgb(27, 46, 78), rgb(111, 150, 167);
}

.page-imageColumn--feliz-restaurants{
    @mixin gradient-bg bottom, left, rgb(250, 142, 36), rgb(172, 8, 8);
}

.page-imageColumn--invisible-sentinel{
    @mixin gradient-bg top, left, rgb(12, 66, 122), rgb(32, 138, 143);
}

.page-imageColumn--timer{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--placemedia{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--orexo{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--fatback{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--zubsolv{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--cellar{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--social-feeds{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--locations{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}


.page-textSection{
    padding: 55px 0;
}

.page-textSection-body{
    text-align: left;
}

.page-imagesSection{
    background-color: var(--gray-lightest);
}

