.page-fullSection{
    height: 100vh;
}

.page-halfSection{
    height: 75vh;
}

.page-currentCode{
    height: 100vh;
    
    @mixin gradient-bg top, right, rgba(0, 69, 73, 0.8), rgba(26, 175, 242, 0.8);
}

.page-textColumn-full{
    height: 100vh;

    background-color: var(--gray-darker);
}

.page-textColumn-half{
    height: 75vh;

    background-color: var(--gray-darker);
}

.page-textColumn-header{
    padding-left: 30px;

    border-left: 2px solid var(--brand-primary);

    text-align: left;
}

.page-textColumn-header h1 a{
    color: white;
}
.page-textColumn-header h1 a:hover{
    color: var(--gray-light);
}

.page-textColumn-header h1,
.page-textColumn-header p{
    margin: 0;

    color: white;
    line-height: 1;
}
.page-textColumn-header p{
    margin-top: 10px;
}

.page-textColumn-info{
    margin-top: 25px;
    padding-left: 32px;

    text-align: left;
}
.page-textColumn-tech{
    margin-bottom: 25px;

    color: white;
}

.page-textColumn-info a{
    color: white;
    text-decoration: underline;
    font-weight: var(--font-bold-weight);
}
.page-textColumn-info a:hover{
    color: var(--gray-light);
    text-decoration: none;
}

.page-imageColumn-full{
    height: 100vh;
}

.page-imageColumn-half{
    height: 75vh;
}

.page-imageColumn-image img{
    
}

.page-imageColumn--thule{
    @mixin gradient-bg top, left, rgb(27, 46, 78), rgb(111, 150, 167);
}

.page-imageColumn--feliz-restaurants{
    @mixin gradient-bg bottom, left, rgb(250, 142, 36), rgb(172, 8, 8);
}

.page-imageColumn--invisible-sentinel{
    @mixin gradient-bg top, left, rgb(12, 66, 122), rgb(32, 138, 143);
}

.page-imageColumn--timer{
    @mixin gradient-bg top, left, rgb(255, 193, 91), rgb(255, 75, 75);
}

.page-imageColumn--placemedia{
    @mixin gradient-bg top, left, rgb(86, 255, 106), rgb(0, 158, 229);
}

.page-imageColumn--orexo{
    @mixin gradient-bg bottom, left, rgb(193, 0, 0), rgb(77, 0, 0);
}

.page-imageColumn--fatback{
    @mixin gradient-bg top, left, rgb(0, 66, 96), rgb(64, 181, 234);
}

.page-imageColumn--zubsolv{
    @mixin gradient-bg top, right, rgb(61, 0, 82), rgb(249, 146, 39);
}

.page-imageColumn--cellar{
    @mixin gradient-bg top, left, rgb(137, 93, 0), rgb(255, 191, 54);
}

.page-imageColumn--social-feeds{
    @mixin gradient-bg top, left, rgb(51, 124, 212), rgb(220, 80, 55);
}

.page-imageColumn--locations{
    @mixin gradient-bg bottom, left, rgb(51, 124, 212), rgb(220, 80, 55);
}


.page-textSection{
    padding: 55px 0;
}

.page-textSection-body{
    text-align: left;
}

.page-imagesSection{
    background-color: var(--gray-lightest);
}

