.form-field{
    margin-top: 20px;
}

.formSuccess-loading{
    transform: translateZ(0);
    animation: spin 1s infinite linear;

    display: none;
    width: 50px;
    height: 50px;

    border-top: 0.4em solid var(--brand-primary);
    border-right: 0.4em solid var(--brand-primary);
    border-bottom: 0.4em solid var(--brand-primary);
    border-left: 0.4em solid white;
    border-radius: 50%;

    text-align: center;

    &:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
}

.formSuccess-loading.is-active{
    display: inline-block;
}

.formSuccess p {
    margin-top: 10px;

    color: var(--brand-primary);
    font-size: 1.8rem;
}