@define-mixin col-size $size {
    -webkit-flex-basis: $size;
    -ms-flex-preferred-size: $size;
    flex-basis: $size;
    max-width: $size;
}

@define-mixin row-start-end $side{
    -webkit-box-pack: $side;
    -webkit-justify-content: flex-$side;
    -ms-flex-pack: $side;
    justify-content: flex-$side;
    text-align: $side;
}

@define-mixin row-top-bottom $side{
    -webkit-box-align: $side;
    -webkit-align-items: flex-$side;
    -ms-flex-align: $side;
    align-items: flex-$side;
}

@define-mixin row-center $center{
    -webkit-box-pack: $center;
    -webkit-justify-content: $center;
    -ms-flex-pack: $center;
    justify-content: $center;
    text-align: $center;
}

@define-mixin row-middle $center{
    -webkit-box-align: $center;
    -webkit-align-items: $center;
    -ms-flex-align: $center;
    align-items: $center;
}

@define-mixin col-order $group, $order{
    -webkit-box-ordinal-group: $group;
    -webkit-order: $order;
    -ms-flex-order: $order;
    order: $order;
}

.container{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-right: -var(--grid-base-gutter);
    margin-left: -var(--grid-base-gutter);
    margin-bottom: var(--grid-base-row-spacing);
}

.row:last-child{ margin-bottom: 0; }

.row--marginhalf{ margin-bottom: calc( var(--grid-base-row-spacing) / 2); }
.row--nomargin{ margin-bottom: 0; }
.row--nogutter{ margin-left: 0; margin-right: 0; }

.row--start{ @mixin row-start-end start; }
.row--center{ @mixin row-center center; }
.row--end{ @mixin row-start-end end; }
.row--top{ @mixin row-top-bottom start; }
.row--middle{ @mixin row-middle center; }
.row--bottom{ @mixin row-top-bottom end; }

.col--auto{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;

    max-width: 100%;
}

.col--1,
.col--2,
.col--3,
.col--4,
.col--5,
.col--6,
.col--7,
.col--8,
.col--9,
.col--10,
.col--11,
.col--12{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    padding-right: var(--grid-base-gutter);
    padding-left: var(--grid-base-gutter);
}

.col--1{ @mixin col-size 8.333%; }
.col--2{ @mixin col-size 16.667%; }
.col--3{ @mixin col-size 25%; }
.col--4{ @mixin col-size 33.333%; }
.col--5{ @mixin col-size 41.667%; }
.col--6{ @mixin col-size 50%; }
.col--7{ @mixin col-size 58.333%; }
.col--8{ @mixin col-size 66.667%; }
.col--9{ @mixin col-size 75%; }
.col--10{ @mixin col-size 83.333%; }
.col--11{ @mixin col-size 91.667%; }
.col--12{ @mixin col-size 100%; }

.col--nogutter{ padding-left: 0; padding-right: 0; }
.col--paddingright{ padding-right: var(--grid-base-gutter--double); }
.col--paddingleft{ padding-left: var(--grid-base-gutter--double); }
.col--first{ @mixin col-order 0 -1; }
.col--last{ @mixin col-order 2 1; }


@media (--screen-xs-min) {
    .container{ max-width: var(--screen-xs-min-grid); }

    .row{ margin-right: -var(--grid-base-gutter); margin-left: -var(--grid-base-gutter); }
    .row--nogutterxs{ margin-left: 0; margin-right: 0; }

    .row--startxs{ @mixin row-start-end start; }
    .row--centerxs{ @mixin row-center center; }
    .row--endxs{ @mixin row-start-end end; }
    .row--topxs{ @mixin row-top-bottom start; }
    .row--middlexs{ @mixin row-middle center; }
    .row--bottomxs{ @mixin row-top-bottom end; }

    .col--1xs,
    .col--2xs,
    .col--3xs,
    .col--4xs,
    .col--5xs,
    .col--6xs,
    .col--7xs,
    .col--8xs,
    .col--9xs,
    .col--10xs,
    .col--11xs,
    .col--12xs{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        padding-right: var(--grid-base-gutter);
        padding-left: var(--grid-base-gutter);
    }

    .col--1xs{ @mixin col-size 8.333%; }
    .col--2xs{ @mixin col-size 16.667%; }
    .col--3xs{ @mixin col-size 25%; }
    .col--4xs{ @mixin col-size 33.333%; }
    .col--5xs{ @mixin col-size 41.667%; }
    .col--6xs{ @mixin col-size 50%; }
    .col--7xs{ @mixin col-size 58.333%; }
    .col--8xs{ @mixin col-size 66.667%; }
    .col--9xs{ @mixin col-size 75%; }
    .col--10xs{ @mixin col-size 83.333%; }
    .col--11xs{ @mixin col-size 91.667%; }
    .col--12xs{ @mixin col-size 100%; }

    .col--nogutterxs{ padding-left: 0; padding-right: 0; }
    .col--paddingrightxs{ padding-right: var(--grid-base-gutter--double); }
    .col--paddingleftxs{ padding-left: var(--grid-base-gutter--double); }
    .col--firstxs{ @mixin col-order 0 -1; }
    .col--lastxs{ @mixin col-order 2 1; }
}

@media (--screen-sm-min) {
    .container{ max-width: var(--screen-sm-min-grid); }

    .row{ margin-right: -var(--grid-base-gutter); margin-left: -var(--grid-base-gutter); }
    .row--noguttersm{ margin-left: 0; margin-right: 0; }

    .row--startsm{ @mixin row-start-end start; }
    .row--centersm{ @mixin row-center center; }
    .row--endsm{ @mixin row-start-end end; }
    .row--topsm{ @mixin row-top-bottom start; }
    .row--middlesm{ @mixin row-middle center; }
    .row--bottomsm{ @mixin row-top-bottom end; }

    .col--1sm,
    .col--2sm,
    .col--3sm,
    .col--4sm,
    .col--5sm,
    .col--6sm,
    .col--7sm,
    .col--8sm,
    .col--9sm,
    .col--10sm,
    .col--11sm,
    .col--12sm{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        padding-right: var(--grid-base-gutter);
        padding-left: var(--grid-base-gutter);
    }

    .col--1sm{ @mixin col-size 8.333%; }
    .col--2sm{ @mixin col-size 16.667%; }
    .col--3sm{ @mixin col-size 25%; }
    .col--4sm{ @mixin col-size 33.333%; }
    .col--5sm{ @mixin col-size 41.667%; }
    .col--6sm{ @mixin col-size 50%; }
    .col--7sm{ @mixin col-size 58.333%; }
    .col--8sm{ @mixin col-size 66.667%; }
    .col--9sm{ @mixin col-size 75%; }
    .col--10sm{ @mixin col-size 83.333%; }
    .col--11sm{ @mixin col-size 91.667%; }
    .col--12sm{ @mixin col-size 100%; }

    .col--noguttersm{ padding-left: 0; padding-right: 0; }
    .col--paddingrightsm{ padding-right: var(--grid-base-gutter--double); }
    .col--paddingleftsm{ padding-left: var(--grid-base-gutter--double); }
    .col--firstsm{ @mixin col-order 0 -1; }
    .col--lastsm{ @mixin col-order 2 1; }
}

@media (--screen-md-min) {
    .container{ max-width: var(--screen-md-min-grid); }

    .row{ margin-right: -var(--grid-base-gutter); margin-left: -var(--grid-base-gutter); }
    .row--noguttermd{ margin-left: 0; margin-right: 0; }

    .row--startmd{ @mixin row-start-end start; }
    .row--centermd{ @mixin row-center center; }
    .row--endmd{ @mixin row-start-end end; }
    .row--topmd{ @mixin row-top-bottom start; }
    .row--middlemd{ @mixin row-middle center; }
    .row--bottommd{ @mixin row-top-bottom end; }

    .col--1md,
    .col--2md,
    .col--3md,
    .col--4md,
    .col--5md,
    .col--6md,
    .col--7md,
    .col--8md,
    .col--9md,
    .col--10md,
    .col--11md,
    .col--12md{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        padding-right: var(--grid-base-gutter);
        padding-left: var(--grid-base-gutter);
    }

    .col--1md{ @mixin col-size 8.333%; }
    .col--2md{ @mixin col-size 16.667%; }
    .col--3md{ @mixin col-size 25%; }
    .col--4md{ @mixin col-size 33.333%; }
    .col--5md{ @mixin col-size 41.667%; }
    .col--6md{ @mixin col-size 50%; }
    .col--7md{ @mixin col-size 58.333%; }
    .col--8md{ @mixin col-size 66.667%; }
    .col--9md{ @mixin col-size 75%; }
    .col--10md{ @mixin col-size 83.333%; }
    .col--11md{ @mixin col-size 91.667%; }
    .col--12md{ @mixin col-size 100%; }

    .col--noguttermd{ padding-left: 0; padding-right: 0; }
    .col--paddingrightmd{ padding-right: var(--grid-base-gutter--double); }
    .col--paddingleftmd{ padding-left: var(--grid-base-gutter--double); }
    .col--firstmd{ @mixin col-order 0 -1; }
    .col--lastmd{ @mixin col-order 2 1; }
}

@media (--screen-lg-min) {
    .container{ max-width: var(--screen-lg-min-grid); }

    .row{ margin-right: -var(--grid-base-gutter); margin-left: -var(--grid-base-gutter); }
    .row--nogutterlg{ margin-left: 0; margin-right: 0; }

    .row--startlg{ @mixin row-start-end start; }
    .row--centerlg{ @mixin row-center center; }
    .row--endlg{ @mixin row-start-end end; }
    .row--toplg{ @mixin row-top-bottom start; }
    .row--middlelg{ @mixin row-middle center; }
    .row--bottomlg{ @mixin row-top-bottom end; }

    .col--1lg,
    .col--2lg,
    .col--3lg,
    .col--4lg,
    .col--5lg,
    .col--6lg,
    .col--7lg,
    .col--8lg,
    .col--9lg,
    .col--10lg,
    .col--11lg,
    .col--12lg{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        padding-right: var(--grid-base-gutter);
        padding-left: var(--grid-base-gutter);
    }

    .col--1lg{ @mixin col-size 8.333%; }
    .col--2lg{ @mixin col-size 16.667%; }
    .col--3lg{ @mixin col-size 25%; }
    .col--4lg{ @mixin col-size 33.333%; }
    .col--5lg{ @mixin col-size 41.667%; }
    .col--6lg{ @mixin col-size 50%; }
    .col--7lg{ @mixin col-size 58.333%; }
    .col--8lg{ @mixin col-size 66.667%; }
    .col--9lg{ @mixin col-size 75%; }
    .col--10lg{ @mixin col-size 83.333%; }
    .col--11lg{ @mixin col-size 91.667%; }
    .col--12lg{ @mixin col-size 100%; }

    .col--nogutterlg{ padding-left: 0; padding-right: 0; }
    .col--paddingrightlg{ padding-right: var(--grid-base-gutter--double); }
    .col--paddingleftlg{ padding-left: var(--grid-base-gutter--double); }
    .col--firstlg{ @mixin col-order 0 -1; }
    .col--lastlg{ @mixin col-order 2 1; }
}