{% extends '_layouts/site' %}

{% block main %}
    <div class="page">

        <div class="page-halfSection row row--nomargin">
            <div class="col--12 col--6sm">
                <div class="currentCode row row--middle row--center row--nomargin">
                    {# {% include '_includes/current-code' %} #}
                </div>
            </div>
            <div class="col--12 col--6sm">
                <div class="page-textColumn row row--middle row--center row--nomargin">
                    <div class="col--7">
                        <div class="page-textColumn-header">
                            <h1>James Garrett</h1>
                            <p>Front End <strong>Developer</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-halfSection row row--nomargin">
            <div class="col--12 col--6sm">
                <div class="page-textColumn row row--middle row--center row--nomargin">
                    <div class="col--7">
                        <div class="page-textColumn-header">
                            <h1>Feliz Restaurants</h1>
                            <p>Website Development</p>
                        </div>
                        <div class="page-textColumn-info">
                            <p class="page-textColumn-tech"><strong>Tech:</strong> CraftCMS, PHP, HTML, CSS, Javascript</p>
                            <p><a class="" href="/">View Project</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--12 col--6sm">
                <div class="page-imageColumn page-imageColumn--feliz-restaurants row row--middle row--center row--nomargin">
                    <div class="col--7">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="page-halfSection row row--nomargin">
            <div class="col--12 col--6sm">
                <div class="page-imageColumn page-imageColumn--invisible-sentinel row row--middle row--center row--nomargin">
                    <div class="col--7">
                        
                    </div>
                </div>
            </div>
            <div class="col--12 col--6sm">
                <div class="page-textColumn row row--middle row--center row--nomargin">
                    <div class="col--7">
                        <div class="page-textColumn-header">
                            <h1>Invisible Sentinel</h1>
                            <p>Website Development</p>
                        </div>
                        <div class="page-textColumn-info">
                            <p class="page-textColumn-tech"><strong>Tech:</strong> Wordpress, Woocommerce, PHP, HTML, CSS, Javascript</p>
                            <p><a class="" href="/">View Project</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>    
{% endblock %}
